<footer class="mt-4">
  <div class="container">
    <div class="footer-wrapper py-3 text-center">
      <p>Our Social</p>
      <ul class="social list-unstyled d-flex justify-content-center">
        <li class="me-5">
          <a href="https://github.com/Ahmed-Ashraf98">
            <i class="fa-brands fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/ahmad-ashraf-1042071a1">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </li>
      </ul>
      All right reserved © Ahmed Ashraf - 2024
    </div>
  </div>
</footer>
