<div class="min-vh-100">
  <div class="container">
    <div class="content-wrapper mt-5 position-relative">
      @if (!isLoading) {
      <app-main-carousel></app-main-carousel>
      <p class="text-center m-5">Discover your favorite products by category</p>
      <div
        class="categories-box d-flex justify-content-center align-items-center flex-wrap mt-2"
      >
        @for (category of categoriesList; track $index) {
        <span
          (click)="displayCategoryProducts(category)"
          class="badge text-bg-primary mt-2 mt-lg-0 me-2 p-3"
          >{{ category.substring(0, 1).toUpperCase()
          }}{{ category.substring(1) }}</span
        >
        }
      </div>

      <div class="search-box mt-5">
        <input
          class="form-control w-50 m-auto"
          type="text"
          [(ngModel)]="searchText"
          placeholder="Search Product"
        />
      </div>

      <div class="row gy-3 gx-0 gx-sm-4 mt-3">
        @for (product of productsList | customSearch : searchText : searchKey;
        track product.id) {
        <app-product-card
          class="col-12 col-sm-5 col-md-4 col-lg-3 text-center"
          [product]="product"
        ></app-product-card>

        }
      </div>

      } @else {
      <div
        class="min-vh-100 d-flex flex-column justify-content-center align-items-center"
      >
        <app-loader></app-loader>
      </div>
      }
    </div>
  </div>
</div>
